

body{
  font-family:Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,
.jumbotron img,
.jumbotron p {
  margin-bottom: 30px;
}
.k_container{
  width:88%;
  margin: 0 auto;
}
/* 
HEADER 
*/
header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width:100%;
  min-height: 100px;
  background-color: white;
}
.top-header {
  background-color: black;
  padding: 8px 15px;
}
.top-header img {
  width: 75px;
}
.top-header,
.bottom-header{
  width:100%;
}
.bottom-header {
  min-width: 320px;
  position: relative;
}
/* 
NAVBAR 
*/

.navbar-light .navbar-nav .nav-link { 
  color: rgb(0, 0, 0);
}
.navbar-brand img {
  width:65px;
}
.navbar {
  padding: 0;
}
.nav-item i {
  font-weight: 400;
}
.shared-nav_k{
  top: 60px;
  width: 100%;
}
.shared-nav_k .shared-nav-list {
  display: flex;
  flex-direction: row;
  width: auto;
  padding:0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  width: 40rem;
}
.left_nav .dropdown-menu {
  width:20rem;
  top: 100%;
  right: 0;
}
.navbar-light .navbar-nav .nav-link img {
  width: 10px;
}

/* DROPDOWN */

.dropdown-toggle::after {
  content: none;
}


/* 
JUMBOTRON 
*/


.jumbotron {
  width: 100%;
  height: 560px;
  margin-top: 115px;
  background-image: url('../img/jumbo-bg.png');
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;
}

.jumbotron .background-image{
  width: 100%;
}
.jumbotron img {
  width:250px;
}

/*
 BUTTONS 
 */

.k_btn {
  border-radius: 50px;
  color:white;
  font-weight: 500;
}
.k_btn:hover{
  color:white;
}

.k_btn:focus {
  box-shadow:none;
}

/* BTN_RED */

.k_btn.red {
  background-color: #cd3d0f;
  border: 2px solid #cd3d0f;
  outline: 2px solid #cd3d0f;
}
.k_btn.red:hover {
  border-color: black;
}

/* BTN_BlACK */

.k_blk {
  background-color: #2f2d2d;
  border: 2px solid #000000;
  outline: 2px solid #000000;
}
.k_blk:hover{
  border-color: white;
}

/* BTN_BLUE */

.k_blue{
  background-color: #2d64e6;
  border: 2px solid #2d64e6;
  outline: 2px solid #2d64e6; 
}
.k_blue:hover{
  border-color: white;
}

/* BTN_WHITE AND LIGHT */
.k_white {
  background-color: #fff;
  border: 2px solid #fff;
  outline: 2px solid #fff; 
  color:#000;
}
.k_white:hover {
  border-color: black;
  color:#000000;
}

.k_light{
  color:#2d64e6;
  border: 2px solid rgba( 255, 255, 255, .5);
  outline: 2px solid rgba( 255, 255, 255, .5);
}
.k_light:hover{
  color:#2d64e6;
  border-color: #00439c;
}



/* LOW-JUMBOTRON */

.low-jumbotron .col{
  min-height: 130px;
}
.low-jumbotron .k_block{
  height:125px;
  border-radius: 25px;
}

.k_block img {
  width:100%;
  height: 100%;
  border-radius: 25px;
  opacity: .9;
}
.k_block img:hover {
  opacity: 1;
}

.k_block:hover, .k_block:focus {
  transform: translateY(-0.5em);
  box-shadow: 0 0.5em 0.5em -0.2em #00439c;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  padding: 0;
}

.k_block.active {
  padding: 2px;
  outline: 2px solid #00439c;
}


/* MAIN*/

/* 
SECTION-1
*/

.blue {
  font-size: 14px;
  color: #1d82d3;
}

#ps-5 img,
.col .k_box img,
#offer .col .card {
  width: 100%;
}
#ps-5 button {
  margin: 30px 0;
}
#ps-5 .k_box{
  width:100%;
  padding: 10% 0;
  opacity: .7;
}

#ps-5 .k_box img{
  width: 65%;
}

.col.active{
  border-bottom: 2px solid #1d82d3;
  opacity: 1;
}

#ps-5 .k_box:hover {
  opacity: 1;
}

.bottom-games .k_box img:hover {
  transform: scale(1.1);
  transition: .3s;
  cursor: pointer;
}
/* 
SECTION-2
*/
#games {
  background-color: #1f1f1f;
}
.jumbotron.adventure{
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}
#games .jumbotron img {
  width:220px;
}
#games button {
  margin: 10px 0;
}

.bottom-games .col,
.low-jumbotron .col,
.social_box .col,
#company .col,
#hardware .k_container .col{
  margin-bottom: 3%;
}
.bottom-games .col .k_box {
  width: 100%;
  min-height: 150px;
}

/* 
SECTION-3
*/
#hardware {
  padding: 30px 0;
  min-height: 700px;
}
span {
  content: "\00AE";
  font-size: 10px;
  vertical-align: super;
}
#hardware .k_container img {
  width: 100%;
  min-height: 600;
}

#hardware .k_container .col{
  min-height: 400px;
}


/* 
SECTION-4
*/
#service {
  background-color: #bebcbb;
  min-height: 300px;
  margin: 20px 0;
}
#service .col {
  height: 250px;
}
#service .bg-plus,
#offer .bg-plus{
  width: 100%;
  height: 100%;
}

#service .ltl-plus,
#offer .ltl-plus{
  width: 70%; 
}

#service button,
#offer button {
  width: 200px;
}
/* 
OFFER
*/
#offer {
  width: 100%;
  min-height:300px;
  margin-top: 60px;
}
.bottom-social {
  background-color: #161c3b;
}
#offer .col{
  padding: 0 20px;
}


/* 
SOCIAL 
*/

.social,
.social .col-8 .row,
.social .col-8 .col img,
.social_box .col img,
.social_box .row {
  width:100%;
}

.social_box {
  width: 60%;
  min-height: 30px;
}

/* 
FOOTER 
*/
footer {
  background-color: #00439c;
  min-height: 300px;
}

footer li {
  list-style: none;
}
.f_logo1 {
  width: 85px;
}
.footer_icons{
  vertical-align: middle;
}
.footer_icons span {
  font-size: 14px;
  vertical-align: middle;
}
.fa-globe {
  vertical-align: middle;
  margin-right: 7px;
}
.f_logo2 {
  width: 150px;
}
.k_li ul li {
  line-height: 30px;
}


/* MEDIA */

@media (max-width: 576px) {
  .social_box {
    width: 100%;
    padding: 10px;
  }

}



/*
 DEBUG 
 */
 
 .debug {
  background-color: rgba(255, 0 , 0, .3);
  border: 1px solid black;)
 }

 .h-200 {
   min-height: 200px;
 }
 
 .cl-white {
   color: white;
 }